body {
  background-color: bisque;
  margin: 0 auto;
}

h1 {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* All button and background coloring */
.playerButtonsContainer, .playerButtonsMasterContainer {
  padding: 1rem;
  border-radius: 50px;
}

.playerButtonsMasterContainer {
  background-image: linear-gradient(to right, #ff8000, #ffff00, #fd63e3);
  background-size: 300%;
  animation: gradient-background 5s infinite alternate;
}

@keyframes gradient-background {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.playerButtonsContainer {
  display: flex;
  justify-content: space-around;
  gap: 100px;
}

.playerButtons {
  border-radius: 35%;
  padding: 20px;
  cursor: pointer;
  transition: ease-in-out 400ms;
}

.playerButtons img {
  width: 200px;
  height: 200px;
}

.orangeButton {
  background-color: #ff8000;
  border: 5px solid #ffa449;
}

.yellowButton {
  background-color: #ffff00;
  border: 5px solid #ffea00;
}

.purpleButton {
  background-color: #fd63e3;
  border: 5px solid #ffa1ef;
}

.playerButtons:hover {
  border: 5px solid rgb(186, 120, 32);
}

.orangeButton:hover {
  background-color: #ff9226;
}

.yellowButton:hover {
  background-color: #fcfc4f;
}

.purpleButton:hover {
  background-color: #ff7de9;
}

.orangeButton:active {
  background-color: #ffa449;
}

.yellowButton:active {
  background-color: #ffff81;
}

.purpleButton:active {
  background-color: #ffa1ef;
}

.noPointer {
  cursor: default;
}

.disabled {
  background-color: gray;
  border: 5px solid lightgray;
  cursor: default;
  filter: grayscale(100%);
}

.disabled:hover {
  background-color: gray;
  border: 5px solid lightgray;
}

.disabled:active {
  background-color: gray;
  border: 5px solid lightgray;
}

/* Footer Stuff */
footer {
  display: flex;
  justify-content: center;
  font-size: 24px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(77, 46, 104);
  color: white;
}

.footerContainer {
  display: flex;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  gap: 25px;
  align-items: center;
  width: 25%;
}

.footerContainer > button {
  background-image: linear-gradient(to right, #ff8000, #ffff00, #fd63e3);
  background-size: 300%;
  transition: background-position 1s;
  animation: wiggle 5s infinite;
}

.footerContainer > button:hover {
  background-position: right;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg); 
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}